{% extends "./base.html" %}
{% load static %}

{% block 'page_title' %}Simple YT App{% endblock 'page_title' %}

{% block 'vendor_css' %}
  <link rel="stylesheet" href={% static "vendor/datatables/dataTables.min.css" %} />
{% endblock 'vendor_css' %}

{% block 'head' %}
  <link rel="stylesheet" href={% static "css/dashboard_layout.css" %} />
  <link rel="stylesheet" href={% static "css/common_posts.css" %} />
{% endblock 'head' %}

{% block 'content' %}
  <header>
    {% include './partials/navbar.html' %}
    {%comment %}{% include './partials/sidebar.html' %}{%endcomment %}
  </header>
  <main class="container mt-5 pt-5">
    {% block 'main_content' %}{% endblock 'main_content' %}
  </main>
{% endblock 'content' %}

{% block 'vendor_js' %}
  <script src={% static "js/dashboard_layout.js" %}></script>
  <script src={% static "js/navbar.js" %}></script>
  <script src={% static "js/sidebar.js" %}></script>
  <script src={% static "vendor/datatables/dataTables.min.js"%}></script>
  <script src={% static "vendor/datatables/dataTables.buttons.js"%}></script>
{% endblock 'vendor_js' %}

{% block 'footer' %}
{% endblock 'footer' %}