{% extends "layout/simple_layout.html" %}

{% block 'main_content' %}
<style>
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 90vh;
    }
</style>
<div class="container p-0">
    <div class="row justify-content-center form-container p-0 m-0">
        <div class="col-12 shadow col-md-4 p-0 row justify-content-center rounded p-3 bg-light">
            {% block 'management_content' %}
            {% endblock 'management_content' %}
        </div>
    </div>
</div>
{% endblock 'main_content' %}